<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>todos</title>
    <link rel="stylesheet" type="text/css" href="index.css">
</head>

<body>
    <section class="todoapp" id="app">
        <div>
            <header class="header" >
                <h1>todos</h1>
                <input class="new-todo" placeholder="请输入内容" v-model="val" @keyup.13="add">
            </header>
            <section class="main">
                <input class="toggle-all" type="checkbox" v-model="all" @click="changeAll" v-show="arr.length">
                <ul class="todo-list">
                    <li :class={completed:val.checked,editing:val.editing} v-for="(val,key) in changeView">
                        <div class="view">
                            <input class="toggle" type="checkbox" v-model="val.checked" @click="checked">
                            <label @dblclick="dbclick(val,$event)">{{val.name}}</label>
                            <button class="destroy" @click="del"></button>
                        </div>
                        <input
                          class="edit"
                          :value=val.name
                          @blur = "blur(val,$event)"
                          @keyup.esc = "esc(val,$event)"
                          @keyup.13 ="blur(val,$event)"
                         />
                    </li>
                </ul>
            </section>
            <footer class="footer" v-show="arr.length">
              <span class="todo-count">
                <strong>{{Num}}</strong>
                <span>条未选中</span>
              </span>
              <ul class="filters">
                <li v-for="(val,key) in view">
                  <a :href="val.hash" :class="{selected:hash==val.hash}" @click="hash=val.hash">{{val.name}}</a>
                </li>
              </ul>
              <button class="clear-completed" @click ="clearAll"> 清除完成项 </button>
            </footer>
        </div>
    </section>

    <script src ="vue.js" type="text/javascript"></script>
    <script type="text/javascript">
        new Vue({
          el:'#app',
          data:{
            val:'',
            arr:[
              {name:'对不',checked:true,id:1,editing:false},
              {name:'对',checked:false,id:2,editing:false},
              {name:'对不对',checked:false,id:3,editing:false},
            ],
            all:false,
            view:[
              {name:'全部',checked:false,hash:'#/all'},
              {name:'未完成',checked:false,hash:'#/active'},
              {name:'已完成',checked:false,hash:'#/completed'}
            ],
            hash:'#/all'
          },
          methods:{
            changeAll(){
              this.arr.forEach(e=>e.checked = this.all);
            },
            checked(){
              this.all = this.arr.every(e=>e.checked)
            },
            add(){
              this.arr.unshift({
                name:this.val,
                id:+new Date(),
                checked:false,
                editing:false
              });
              this.val ='';
            },
            del(){
              this.arr.splice(0,1)
            },
            dbclick(val,ev){
              let inputs = ev.target.parentNode.nextElementSibling;
              console.log(inputs);
              this.arr.forEach(e=>{
                if(e.id===val.id){
                  e.editing = true;
                }
              })
              Vue.nextTick(function(){
                inputs.focus();
              })
            },
            blur(val,ev){
              this.arr.forEach(e=>{
                if(e.id===val.id){
                  e.editing = false;
                  e.name=ev.target.value;
                }
              })
            },
            esc(val,ev){
              ev.target.value = val.name;
              this.blur(val,ev);
            },
            clearAll(){
              this.arr = this.arr.filter(e=>!e.checked)
            }
          },
          computed:{
            Num:function(){
              return this.arr.filter(e=>!e.checked).length
            },
            changeView:function(){
              let arr2 = Object.assign(this.arr);
              return arr2.filter(e=>{
                switch (this.hash) {
                  case '#/active':
                    return !e.checked
                    break;
                  case '#/completed':
                    return e.checked
                    break;
                  default:
                  return Object.assign(this.arr);
                }
              })
            }
          }
        })
    </script>
</body>
</html>
